{% include 'top.html' %}
<div id="content">
    <div id="container">
        <style>
            .button {
                border: none;
                color: white;
                padding: 16px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                transition-duration: 0.4s;
                cursor: pointer;
            }

            .button1 {
                background-color: white;
                color: black;
                border: 2px solid #4CAF50; /* Green */
            } 

            .button1:hover {
                background-color: #4CAF50;
                color: white;
            }

            .button2 {
                background-color: white;
                color: black;
                border: 2px solid #008CBA; /* Blue */
            } 

            .button2:hover {
                background-color: #008CBA;
                color: white;
            }

            .button3 {
                background-color: white;
                color: black;
                border: 2px solid #E74C3C; /* Red */
            } 

            .button3:hover {
                background-color: #E74C3C;
                color: white;
            }

            .button4 {
                background-color: white;
                color: black;
                border: 2px solid #5D6D7E; /* Grey */
            } 

            .button4:hover {
                background-color: #5D6D7E;
                color: white;
            }
            
            .alert {
              padding: 20px;
              background-color: #45B941; /* Green */
              color: white;
              margin-bottom: 15px;
            }

            .closebutton {
              margin-left: 15px;
              color: white;
              font-weight: bold;
              float: right;
              font-size: 22px;
              line-height: 20px;
              cursor: pointer;
              transition: 0.3s;
            }

            .closebutton:hover {
              color: black;
            }

        </style>
        
        {% if new == 1 %}
        <div class="alert">
            <span id="confirmation_message" class="closebutton" onclick="this.parentElement.style.display='none';">&times;</span> 
            <strong>Confirmed!</strong> New prerequisite successfully added.
        </div>
        {% endif %}
        
        <h1 class="page-title">Unit of Study Prerequisites</h1>
        
        <a class="button button1">All Prerequisites</a>
        
        <a class="button button2" href="{{ url_for('prereqs_specific') }}">Search Unit Prerequisites</a>
        
        <a class="button button3" href="{{ url_for('prereqs_count') }}">Number of Prerequisites Per Unit</a>
        
        <a class="button button4" href="{{ url_for('prereqs_new') }}">Add New Prerequisite</a>
       
        <br></br>
        <table id="all_prqs_table" class="pure-table">
            <thead>
               <tr><th>UOS Code</th><th>UOS Name</th><th>Prerequisite Code</th><th>Prerequisite Name</th><th>Prequisite Enforced Since</th></tr>
            </thead>
            <tbody>
                {% for prq in prerequisites %}
                    <tr>
                        <td> {{prq[0]}}</td>
                        <td> {{prq[1]}} </td>
                        <td> {{prq[2]}} </td>
                        <td> {{prq[3]}} </td>
                        <td> {{prq[4]}} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> 
</div>
</body>
</html>
