{% include 'top.html' %}
<div id="content">
    <div id="container">
        <h1 class="page-title">Unit of Study Prerequisites</h1>
        <style>
            .button {
                border: none;
                color: white;
                padding: 16px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                transition-duration: 0.4s;
                cursor: pointer;
            }

            .button1 {
                background-color: white;
                color: black;
                border: 2px solid #4CAF50; /* Green */
            } 

            .button1:hover {
                background-color: #4CAF50;
                color: white;
            }

            .button2 {
                background-color: white;
                color: black;
                border: 2px solid #008CBA; /* Blue */
            } 

            .button2:hover {
                background-color: #008CBA;
                color: white;
            }

            .button3 {
                background-color: white;
                color: black;
                border: 2px solid #E74C3C; /* Red */
            } 

            .button3:hover {
                background-color: #E74C3C;
                color: white;
            }

            .button4 {
                background-color: white;
                color: black;
                border: 2px solid #5D6D7E; /* Grey */
            } 

            .button4:hover {
                background-color: #5D6D7E;
                color: white;
            }
            
            .alert {
              padding: 20px;
              background-color: #45B941; /* Green */
              color: white;
              margin-bottom: 15px;
            }

            .closebutton {
              margin-left: 15px;
              color: white;
              font-weight: bold;
              float: right;
              font-size: 22px;
              line-height: 20px;
              cursor: pointer;
              transition: 0.3s;
            }

            .closebutton:hover {
              color: black;
            }

        </style>
        
        <a class="button button1" href="{{ url_for('prereqs_all') }}">All Prerequisites</a>
        
        <a class="button button2" href="{{ url_for('prereqs_specific') }}">Search Unit Prerequisites</a>
        
        <a class="button button3" href="{{ url_for('prereqs_count') }}">Number of Prerequisites Per Unit</a>
        
        <a class="button button4" href="{{ url_for('prereqs_new') }}">Add New Prerequisite</a>
    </div>
</div>
</body>
</html>
